DJANGO_SECRET_KEY=change-me-with-a-long-random-secret
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost
DJANGO_CSRF_TRUSTED_ORIGINS=http://127.0.0.1:8000,http://localhost:8000

DRF_PAGE_SIZE=10
DRF_THROTTLE_ANON=60/min
DRF_THROTTLE_USER=120/min
DRF_THROTTLE_LOGIN=10/min

JWT_ACCESS_MINUTES=15
JWT_REFRESH_DAYS=7
JWT_ROTATE_REFRESH_TOKENS=true
JWT_BLACKLIST_AFTER_ROTATION=true
JWT_UPDATE_LAST_LOGIN=false
