DJANGO_SECRET_KEY=change-me-with-a-long-random-secret
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost
DJANGO_CSRF_TRUSTED_ORIGINS=http://127.0.0.1:8000,http://localhost:8000

DRF_THROTTLE_ANON=60/min
DRF_THROTTLE_USER=120/min
DRF_THROTTLE_LOGIN=10/min
